:root {
  --mainDark: #1b4ef5;
  --main: #3874ff;
  --main-light: #5996ff;
  /* --background: #f4ceff; */
  --background: white;
  --backgroundLight: #f4ceff;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.triangle {
  background-color: var(--mainDark, darkblue);
  height: 95%;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}
body {
  background-color: var(--background);
}
.heroWrapper {
  position: relative;
  height: 135vw;
  z-index: 0;
}
.hero {
  display: block;
  position: absolute;
  top: 5%;
  padding: 0 5vw;
}
.hero img {
  clip-path: polygon(0 5%, 5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
  width: 100%;
  display: block;
}
.overlayText {
  font-size: clamp(2.2rem, 6vw + 1rem, 8rem);
  color: var(--mainDark);
  font-weight: normal;
  padding: 0 5vw;
}
.aboutSection h2 {
  font-weight: normal;
  font-size: clamp(2.2rem, 5vw + 1rem, 10rem);
  color: var(--main);
  text-align: center;
}
.aboutSection p,
.achievementsWrapper p {
  display: block;
  padding: 1.6rem 1.6rem;
  border: 0.6rem double var(--mainDark);
  clip-path: polygon(0 5%, 5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
}
.aboutSection {
  font-size: clamp(1.6rem, 1.4vw + 1rem, 3.6rem);
}
.achievmentSection {
  font-size: clamp(2rem, 2vw + 1rem, 3.6rem);
}
.aboutSection,
.achievmentSection {
  padding: 3vw 5vw;
  color: var(--main);
}
.achievmentSection h3 {
  font-size: 10vw;
  text-align: center;
  color: var(--main);
  font-weight: normal;
}
.achievementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  padding: 5vw 0;
}
.overlayText,
.aboutSection h2,
.achievmentSection h3,
.achievementsWrapper em {
  font-family:
    'Audiowide',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
footer {
  background-color: var(--mainDark);
  color: var(--backgroundLight);
  padding: 5vw 0;
}
footer h4 {
  font-size: clamp(4rem, 7vw + 1rem, 8rem);
  text-align: center;
}
.footerContent p {
  margin: 2rem 0;
}
.footerContent {
  font-size: clamp(1.6rem, 3vw + 1rem, 2.6rem);
  padding: 0 5vw;
}
.icons {
  display: flex;
  padding: 0 5vw;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 2rem;
}
.icons img {
  width: 10vw;
  filter: invert();
}
.footerImg img {
  width: 100vw;
  display: block;
}
@media (min-width: 540px) {
  .heroWrapper {
    height: 70vw;
  }
  .achievementsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .achievementsWrapper p {
    flex: 0 1 calc(50% - 2.5vw);
  }
}
@media (min-width: 1200px) {
  .hero {
    width: 50vw;
  }
  .overlayText {
    position: absolute;
    z-index: 1;
    margin-top: -20vw;
    color: var(--backgroundLight);
    width: 50vw;
  }
  .aboutSection {
    position: absolute;
    top: 0;
    left: 45%;
    color: var(--backgroundLight);
    width: 55vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aboutSection p {
    background-color: white;
    color: var(--mainDark);
  }
  .aboutSection h2 {
    filter: invert();
  }
  .achievementsWrapper p {
    flex: 1 1 0;
  }
  .heroWrapper {
    height: 50vw;
  }
  .icons img {
    width: 5vw;
  }
  footer {
    display: flex;
    align-items: center;
  }
  .footerImg img {
    width: 25vw;
  }
}
